doctype html
include partials/_variables.pug  
html(lang=lang)
    include partials/_header.pug  
    body
        include partials/_modal-login.pug
        header.o-header.-cart
            include partials/_navMain.pug
        section.o-cartNav
            .container.o-cartNav__container
                .o-cartNav__single.-active
                    .o-cartNav__title 1. Nákupní košík
                    

                .o-cartNav__single
                    .o-cartNav__title 2. Osobní údaje

                .o-cartNav__single
                    .o-cartNav__title 3. Doprava a platba
                    
                    
                .o-cartNav__single
                    .o-cartNav__title 4. Shrnutí objednávky
                    

        section.o-cartNavResponsive
            a.o-cartNavResponsive__link.-prev.-disabled(href="#")
                span.a-icon.-cheveron.o-cartNavResponsive__icon
            p.o-cartNavResponsive__title 1/4 Nákupní košík
            a.o-cartNavResponsive__link.-next(onclick="$('#cart-form-submit').trigger('click');")
                span.a-icon.-cheveron.o-cartNavResponsive__icon

        .a-cartNavResponsivePush

        main
            .container
                form(method="post" action="" name="cart_form")
                    .m-cartItemTop
                        .m-cartItemTop__item.-img Produkt
                        .m-cartItemTop__col
                            .m-cartItemTop__item.-name
                            .m-cartItemTop__wrap
                                .m-cartItemTop__item.-qty Množství
                                .m-cartItemTop__item.-price Cena za kus
                                .m-cartItemTop__item.-sum Cena celkem
                                .m-cartItemTop__item.-remove

                    - for (var i=0; i<3; i++)
                        .m-cartItemSingle
                            .m-cartItemSingle__col-1  
                                .m-cartItemSingle__thumb-wrap
                                    .m-cartItemSingle__thumb
                                        img.m-cartItemSingle__img.lazy(src=URLbase+"img/placeholder-200x200.png" data-src=URLbase+"img/product-thumb-small.jpg")


                            .m-cartItemSingle__col-2   
                                .m-cartItemSingle__name-wrap
                                    a.m-cartItemSingle__name(href="#") #{ProductName}
                                    p.m-cartItemSingle__stock(data-toggle="modal" data-target="#modal-razba") Detail ražby  

                                .m-cartItemSingle__inner    
                                    .m-cartItemSingle__qty-wrap 
                                        .m-cartItemSingle__qty
                                            .m-numberStepper.-dark
                                                input.m-numberStepper__input(type="number" min="1" max="99" value="1" name="cart-item-single-qty")
                                                .m-numberStepper__btnUp
                                                    span.m-numberStepper__iconUp
                                                .m-numberStepper__btnDown
                                                    span.m-numberStepper__iconDown

                                    .m-cartItemSingle__price-wrap
                                        span.m-cartItemSingle__price-old 14 2.90 Kč
                                        p.m-cartItemSingle__price 84.89 Kč
                                    .m-cartItemSingle__sum-wrap
                                        p.m-cartItemSingle__sum #[span 18 546] Kč
                                    .m-cartItemSingle__delete-wrap
                                        a.a-icon.-crossCircle.-red(href="#")
                    .row
                        .col-12.col-md-6
                            .m-cartPriceOverview
                                p.m-cartPriceOverview__text Slevový kód:
                                
                                .o-form__group.m-formGroup
                                    input.m-formGroup__input(type="text" name="slevovy_kod" id="slevovy_kod" placeholder=" ")
                                    label.m-formGroup__label(for="slevovy_kod") Slevový kód
                                    span.m-formGroup__error Neplatný slevový kód
                                    span.m-formGroup__success
                        .col-12.col-md-6
                            .m-cartPriceOverview
                                p.m-cartPriceOverview__text Celková cena s DPH:
                                h3.m-cartPriceOverview__price #[span.m-cartPriceOverview__priceNumber 65 599] Kč




                    .m-cartButtons
                        a.btn.-dark(href="#") #[span.a-btnIcon.-rotate180 #[span.a-icon.-cheveron.-white]] Zpět do obchodu
                        button.btn(type="submit" id="cart-form-submit") Osobní údaje #[span.a-btnIcon #[span.a-icon.-cheveron.-white]]
                                
        .modal.fade(id="modal-razba" tabindex="-1" role="dialog" aria-labelledby="modal-razba-heading" aria-hidden="true")
            .modal-dialog.modal-dialog-centered.o-modal__dialog(role="document")
                .modal-content.o-modal__content

                    .modal-header.o-modal__header
                        h5.modal-title.o-modal__title(id="modal-razba-heading") Detail ražby

                    .modal-body.o-modal__body
                        table.table
                            tr
                                td a
                                td b
                                td c
                            tr
                                td a
                                td b
                                td c
                            tr
                                td a
                                td b
                                td c




                    .modal-footer.o-modal__footer
                        button.btn.-dark(type="button" data-dismiss="modal") Zavřit
          


        include partials/_footer.pug 

        include partials/_js-include.pug