doctype html
include partials/_variables.pug  
html(lang=lang)
    include partials/_header.pug  
    body
        include partials/_modal-login.pug
        header.o-header
            include partials/_navMain.pug
        section.o-cartNav
            .container.o-cartNav__container
                .o-cartNav__single.-complete

                    .o-cartNav__title 1. Nákupní košík
                    
                .o-cartNav__single.-complete

                    .o-cartNav__title 2. Osobní údaje
                    
                .o-cartNav__single.-active

                    .o-cartNav__title 3. Doprava a platba
                    
                .o-cartNav__single

                    .o-cartNav__title 4. Shrnutí objednávky


        section.o-cartNavResponsive
            a.o-cartNavResponsive__link.-prev(href="/kosik.html?krok=1")
                span.a-icon.-cheveron.o-cartNavResponsive__icon
            p.o-cartNavResponsive__title 2/4 Doprava a platba
            a.o-cartNavResponsive__link.-next(onclick="$('#delivery-form-submit').trigger('click');")
                span.a-icon.-cheveron.o-cartNavResponsive__icon

        .a-cartNavResponsivePush

        main
            .container
                .row

                    .col-12.col-sm-12.col-md-12.col-lg-12

                        form.o-cartDeliveryForm(method="post" action="" name="delivery_form" id="delivery_form")
                        
                            h2.o-cartDeliveryForm__title Zvolte způsob dopravy a platby

                            .o-cartDeliveryForm__item
                                .o-form__group.m-formGroup.-radiobutton
                                    input.m-formGroup__input(type="radio" name="doprava" id="delivery_form_delivery-1" required)
                                    span.m-formGroup__radiobutton.a-radiobutton
                                    label.m-formGroup__label.-bold(for="delivery_form_delivery-1") Osobní odběr
                                    label.m-formGroup__price(for="delivery_form_delivery-1") 0 Kč

                            .o-cartDeliveryForm__item
                                .o-form__group.m-formGroup.-radiobutton
                                    input.m-formGroup__input(type="radio" name="doprava" id="delivery_form_delivery-2" required checked)
                                    span.m-formGroup__radiobutton.a-radiobutton
                                    label.m-formGroup__label.-bold(for="delivery_form_delivery-2") GLS
                                    label.m-formGroup__price(for="delivery_form_delivery-2") 149 Kč




                            .m-cartButtons
                                a.btn.-dark(href="#") Krok zpět
                                button.btn(type="submit" id="delivery-form-submit") Souhrn objednávky #[span.a-btnIcon #[span.a-icon.-cheveron.-white]]



                    
            .m-cartBarResponsive
                .m-cartBarResponsive__priceWrap
                    p.m-cartBarResponsive__text Celková cena s DPH
                    h3.m-cartBarResponsive__price #[span 65 599] Kč
                .m-cartBarResponsive__btnWrap
                    button.btn.m-cartBarResponsive__btn(onclick="$('#delivery-form-submit').trigger('click');") Souhrn objednávky #[span.a-btnIcon #[span.a-icon.-cheveron.-white]] 

        include partials/_footer.pug

        include partials/_js-include.pug